@mixin textStyle($fontFamily ,$fontSize , $lineHeight , $color){
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: $lineHeight ;
    color: $color;
}   
@mixin buttonStyle(){

}
@mixin menuStyle() {
    
}
@mixin buttonStyle(){

}
@mixin flexible {
    
}
@mixin shapes(){

}