@import "variables" ;
@import "mixins";
.section1{
    background-image: url(/navax_first_project/photos/bg-1.png);
    height: 700px;
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: montserrat;
    padding-top: 20px;
}

.header__logo {
    font-family: montserrat;
    font-style: normal;
    font-size: 28px;
    line-height: 30px;
    font-weight: 600;
    color: #000000;
margin: 0px;
 
}

.menu-list {
    display: flex;
    flex-direction: row;
    width: max-content;
    list-style: none;
    justify-content:space-between ;
    padding: 0;
    margin: 0;
    font-family: montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;

    a{
        color: #000000;
        text-decoration: none;
        &:hover{
            color:  $primaryColor;
                }
    }
}
.menu-list__item {
    margin:0px 30px
}
.register-button {
    width: 170px;
    height: 44px;
    background-color: $primaryColor;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    border: none;
    font-family: montserrat;
}
.section1-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;

}
.section1-leftSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section1-leftSide__title {
    width: 570px;
    height: 300px;
    left: 375px;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 100px;
}
.changeToPrimaryColor {
    color: $primaryColor;
}
.section1-leftSide__postScript {
    width: 500px;
    height: 48px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #666666;
}
.section1-leftSide__order-button {
    width: 229px;
    height: 56px;
    background-color: $primaryColor;
    color: #FFFFFF;
    border: none;
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.section1-rightSide {

}
.section1-shape {
    width: 297px;
    height: 228px;
    background-color: $primaryColor;
    position: absolute;
    margin : -30px -27px;
}
.section1-rightSide__photo {
    position: relative;

}
// section 2 started 

.section2 {
    margin-top: 200px;
}
.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}
.section2-content {

    display: flex;
}
.title-box {
    width: 468px;
    height: 468px;
    background-color: $primaryColor;
    display: flex;
    flex-direction:column;
    
}
.title-box__num {

    font-family: oleto;
    font-size: 250px;
    color: #FFFFFF;
    margin-left: 50px;
}
.titlebox__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    width: 368px;
    height: 64px;
    margin-left: 50px;
   
}
.team-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 468px;
}
.member {
    width: 234px;
    height: 234px;
    background-color: $primaryColor;
}
.member__img-woman {
    position: relative;
    &:hover{
        opacity: 0.6;
        transition:all .6s ease-in
    }
}
.member__specifications {

    @include textStyle(montserrat,18px,20px,white);
    position: absolute;
    margin: 144px 24px;
    
}
.member__skils {
    @include textStyle(montserrat,14px,16px,white);
    position: absolute;
    margin: 194px 24px;
    
}
