//color
$primaryColor :#0D6B6A ;
$bgColor : #f2f2f2;
$gray : #AAAAAA;
$darkGray : #666666;
$lightGray : #DDDDDD;
$black : #000000;
$white :#FFFFFF;
$boxShadowColor : rgba(13, 107, 106, 0.1) ;




//break-points
$break-point-sm : 576px;
$break-point-md : 768px;
$break-point-lg : 992px;
$break-point-xl : 1200px;
$break-point-xxl : 1400px;

//font-family
@font-face {
    font-family: montserrat;
    src: url(../../fonts/Montserrat-Medim.ttf);
}
@font-face {
    font-family: oleto;
    src: url(/fonts/Oleto\ DEMO.ttf);
}

//

